body {
  font-family: 'Tahoma', sans-serif;
  margin: 0;
}

h1 {
  color: indigo;
  margin-top: 0;
}

#empInput {
  height: 100px;
  border-bottom: 1px solid #aaa;
  background-color: lightblue;
  padding: 6px;
}

#empContainer {
  padding: 6px;
}

#empInput label {
  float: left;
  margin-right: 8px;
}

#companySalaries {
  float: right;
  position: relative;
  right: 12px;
  top: -61px;
  font-weight: bold;
}

.employee {
  border: 1px dashed lightgray;
  margin: 4px;
  padding: 4px;
}

.employee h2 {
  font-size: 16px;
  color: green;
  margin-top: 2px;
}
